@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.header { 
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
}

.container {
  display: flex;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  width: 300px;
  margin: 10px auto 0;
  overflow: hidden;
  background-color: rgba(73, 71, 71, 0.397);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(221, 219, 219, 0.5);
  text-align: center;
  color: white;
}

.container > div {
  padding: 10px;
}

.audioPlayer {
  margin: 0 auto; 
  box-shadow: none; 
  background-color: rgba(255, 255, 255, 0);
}

h1 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  margin: 0;
}

.rhap_current-time, .rhap_time, svg{
  color: white;
}

.rhap_progress-indicator {
  background-color: blueviolet;
}

.rhap_volume-indicator{
  background-color: blueviolet;
}

.scrollable-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 180px;
  width: 300px;
  overflow-y: scroll;
  border: #ddd solid 1px;
  list-style-type: none;
  padding-left: 0;
}

.list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  padding: 5px;
  border-bottom: #ddd solid 1px;
}

.list-item-active {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  padding: 5px;
  border-bottom: #ddd solid 1px;
  background-color: rgba(187, 78, 238, 0.52);
}

@media only screen and (min-width : 321px) {
    .container {
      min-width: 20%;
    }
}
