@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.header { 
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

.container {
  display: flex;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  width: 400px;
  margin: 10px auto 0;
  overflow: hidden;
  background-color: rgba(73, 71, 71, 0.397);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(221, 219, 219, 0.5);
  text-align: center;
  color: white;
}

.container > div {
  padding: 10px;
}

.audioPlayer {
  width: 90%; 
  margin: 0 auto; 
  box-shadow: none; 
  background-color: rgba(255, 255, 255, 0);
}

h1 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  margin: 0;
}

.rhap_current-time, .rhap_time, svg{
  color: white;
}

.rhap_progress-indicator {
  background-color: blueviolet;
}

.rhap_volume-indicator{
  background-color: blueviolet;
}

@media only screen and (min-width : 321px) {
    .container {
      min-width: 20%;
    }
}
